.App {
  text-align: center;
}
.Red{
  color:red;
}
.Bold{
  font-weight:bold;
}
.Button{
background-color : blue;
color : white;
font : inherit;
border : 1px solid lightcoral;
padding :8px;
cursor : pointer;
}
.Button:hover {
  background-color:lightgreen;
  color:black;
}

